aiohttp==3.10.11
aiosignal==1.2.0
anyio==3.6.1
async-timeout==4.0.2
attrs==22.1.0
certifi==2024.7.4
charset-normalizer==2.1.1
click==8.1.3
configomatic @ git+https://github.com/stackhpc/configomatic.git@3a7e88693e8f44530ac4f1f5ee3d64977cf3784d
easykube @ git+https://github.com/stackhpc/easykube.git@f8212a0b412b1eb2d7d015508b0ee49b6c2a5eb2
frozenlist==1.3.1
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.7
iso8601==1.0.2
Jinja2==3.1.5
kopf==1.35.6
kube-custom-resource @ git+https://github.com/stackhpc/kube-custom-resource.git@851b1bf25fecdbc180e73494eb77c7899274ee15
MarkupSafe==2.1.1
multidict==6.0.2
pydantic==1.10.13
python-json-logger==2.0.4
PyYAML==6.0
rfc3986==1.5.0
sniffio==1.3.0
typing-extensions==4.3.0
yarl==1.8.1
