aiohappyeyeballs==2.4.4
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
async-timeout==5.0.1
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
configomatic @ git+https://github.com/stackhpc/configomatic.git@3a7e88693e8f44530ac4f1f5ee3d64977cf3784d
easykube==0.5.0
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
iso8601==2.1.0
Jinja2==3.1.5
kopf==1.37.4
kube-custom-resource @ git+https://github.com/stackhpc/kube-custom-resource.git@851b1bf25fecdbc180e73494eb77c7899274ee15
MarkupSafe==3.0.2
multidict==6.1.0
propcache==0.2.1
pydantic==1.10.21
pydantic_core==2.27.2
python-json-logger==3.2.1
PyYAML==6.0.2
rfc3986==2.0.0
sniffio==1.3.1
typing_extensions==4.12.2
yarl==1.18.3
